<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .show-info {
            display: flex;
            align-self: center;
            gap: 20px;
        }

            .show-info label {
                align-self: center;
            }
    </style>
</head>
<body>
    <h3>Xin chào bạn !</h3>
    <p>Bạn vừa đăng ký thành viên mới tại ThueNguoiYeu.me</p>
    <p>Vui lòng click vào link bên dưới để xác nhận email.</p>
    <a href="[LINK]">Xác nhận email</a>
    
    <br>
    <br>
    <br>
    <p>Best regards,</p>
    <h3>ThueNguoiYeu.me</h3>
</body>
</html>